/*
------------
Hero Section
------------
*/
.hero {
    background-image: url('../image/back.jpeg');
    padding: 200px 0;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: rgb(236, 228, 228);
    font-family: 'Outfit', sans-serif;
}

.hero__des {
    font-size: 40px;
    font-style: italic;
    font-family: 'Outfit', sans-serif;
    color: rgb(236, 228, 228);
}

.main__btn {
    font-size: 1.8rem;
    background: #f8f6fa;
    background: -webkit-linear-gradient(to right, #f6f5f3, #eee9e9, #f8f5fa);
    background: linear-gradient(to right, #efeeec, #f7f2f2, #eeebf0);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: rgb(15, 14, 14);
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5f525a;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 60px;
    }

    .hero__des {
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/*
-------------
About Section
-------------
*/
.main {
    background-color: rgba(0, 0, 0, 1);
    padding: 10rem 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__img--container {
    text-align: center;
}

.main__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

/*.main__img--card h2 {
    font-family: 'Outfit', sans-serif;
    margin-bottom: 10px;
    color: whitesmoke;
}*/

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h1 {
    font-size: 2rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 480px) {
    .main__img--card {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 425px;
        width: 425px;
    }
}
