/*
------------------------------
COMMON SECTIONS
------------------------------
*/
.order-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.form input, textarea {
    font-size: 16px;
    color: #5D4037;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 2px solid #7C3000;
    background-color: transparent;
    border-radius: 25px;
}

.form input {
    height: 30px;
    width: 200px;
}

.fetch-data input {
    height: 30px;
    width: 90px;
    color: #2ca02c;
    text-align: center;
    background-color: transparent;
}

.form .field button, form .field button {
    padding: 10px;
    color: #7C3000;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #7C3000;
}

.form .field button:hover, form .field button:hover {
    background-color: #7C3000;
    color: white;
}

h3 {
    color: #7C3000;
}

h2 {
    color: #2ca02c;
}

/*
------------------------------
SECTION - WAITER FORM CONTENT CSS
------------------------------
*/
.make-order {
    width: fit-content;
    height: fit-content;
    border: 3px solid #7C3000;
    padding: 20px;
    border-radius: 10px;
}

.make-order .form {
    display: grid;
    justify-content: center;
}

.make-order .form .field {
    display: flex;
    margin: 10px 0;
}

.make-order .form .field label {
    margin-right: 2em;
    color: #7C3000;
}

label {
    width: 65px;
}


.make-order .form .field button:hover {
    cursor: pointer;
}

/*
------------------------------
SECTION - WAITER RECEIPT CONTENT CSS
------------------------------
*/
.order-receipt {
    width: fit-content;
    height: fit-content;
    border: 3px solid #7C3000;
    padding: 10px;
    border-radius: 10px;
}

.order-receipt .image-container {
    /*max-width: 284px;*/
    width: 15em;
}

.order-receipt .image-container img {
    width: 75%;
    border-radius: 10px;
}


.receipt-content {
    width: fit-content;
}

.receipt-content span {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.receipt-content span.field button {
    margin: 0 10px;
}

/*
------------------------------
MAIN - KITCHEN PAGE CONTENT CSS
------------------------------
*/
.kitchen-view{
    margin: 30px 0;
    margin-left: 70px;
}
.kitchen-view .order-display {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
.kitchen-view .order-display .order-content {
    border: 2px solid #7C3000;
    border-radius: 10px;
    font-size: .75rem;
    padding: 10px;
    overflow: hidden;
    margin: 0 25px;
    /*margin-bottom: 0px;*/
    /*margin-bottom: 20px;*/
}

.kitchen-view .order-display .order-content .order-content-top {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #7C3000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kitchen-view .order-display .order-content .order-content-top .time {
    display: flex;
    justify-content: space-between;
    width: 155px;
    height: fit-content;
    margin-top: -20px;
}

.order-content .order-content-top h2 {
    width: fit-content;
    height: fit-content;
    color: #7C3000;
}

.kitchen-view .order-display .order-content .order-content-middle {
    display: flex;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #7C3000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.order-content .order-content-middle .image-container {
    margin-top: 20px;
}

.order-content .order-content-middle .food-info {
    margin-left: 30px;
    margin-top: -10px;
}

.kitchen-view .order-display .order-content .order-content-bottom {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #7C3000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 1024px) {
    .kitchen-view .order-display {
        display: flex;
        flex-wrap: wrap;
    }
}
